select{
    width: 100%;
    background-color: #9C8080;
    color: white;
    outline: none;
    padding: 0.5rem;
    border-radius: 5px;
}

option{
    width: 100%;
    overflow: hidden;
}

.button-suggest{
    text-align: center;
    background-color: #44C6C6;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
}

.sgForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Media query for horizontal stacking */
/* @media all and (max-width:772px) {
    .sgForm{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
} */