*
{
    margin: 0;
    padding: 0;
}

.nav{
    padding: 10px;
    size: 1.2rem;
}

.nav span{
    padding: 0 30px;
}

.link{
    color:#fff;
    padding:2rem;
    font-size: 1.3rem;
    margin: .3rem;
    text-decoration: none!important;
}


.link:active
{
    color: green;
}



.logo__con img
{
   width:100%;
   height: auto;
   object-fit: cover;
}
.logo__con
{
    width: 235px;
    height: 60px;
}