* {
  margin: 0;
  padding: 0;
}

.nav span {
  padding: 0 30px;
}

.link {
  color: #fff;
  padding: 2rem;
  font-size: 1.3rem;
  margin: 0.3rem;
  text-decoration: none !important;
}



.logo__con img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.logo__con {
  width: 235px;
  height: 60px;
}

@media screen and (max-width: 400px) {
  .logo__con img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .logo__con {
    max-width: 150px;
    height: 60px;
    padding-top: 0.5rem!important;
  }

  .link
  {
      padding: 0.2rem;
  }
}
