.back-footer{
    background-color: #805E72;
    padding-top: 8rem;
    color: #4B1936;
    font-weight: 800;
    position: relative;
}

@media all and (max-width:770px){
    .align-left{
        text-align: left;
    }
}