.suggest{
    display: flex;
    justify-content: center;
    width: 100%;
}

.suggest-div{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,1)!important;
    margin: 1rem;
    width:50%;
    padding: 1rem 4rem;
    background-color: #4B1936;
    transform: translateY(130px);
}

.suggest-div h4,.suggest-div p{
    text-align: center;
}

input{
    width: 100%;
    background-color: #C4C4C4;
    border: none;
    outline: none;
    padding: 0.2rem;
}

.block
{
    padding: 0.3rem;
}

.submit-btn{
    text-align: center;
    background-color: #44C6C6;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    margin: 1rem 0;
}

@media all and (max-width:992px){
    .suggest-div{
        width: 70%;
        padding: 1rem 4rem;
    }
}

@media all and (max-width:772px){
    .suggest-div{
        width: 80%;
        padding: 1rem 3rem;
    }
}

@media all and (max-width:576px){
    .suggest-div{
        width: 90%;
        padding: 1rem 2rem;
    }
}